name: CI/CD

on: 
  push:
    branches:
      - main

jobs: 
  build: 
    name: Build
    runs-on: macos-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: 
          java-version: '21'
          distribution: 'temurin'
      - uses: subosito/flutter-action@v2
        id: flutter-action  
        with: 
            channel: 'stable'
            cache: true
      - name: Print outputs
        shell: bash
        run: |
          echo CACHE-PATH=${{ steps.flutter-action.outputs.CACHE-PATH }}
          echo CACHE-KEY=${{ steps.flutter-action.outputs.CACHE-KEY }}
          echo CHANNEL=${{ steps.flutter-action.outputs.CHANNEL }}
          echo VERSION=${{ steps.flutter-action.outputs.VERSION }}
          echo ARCHITECTURE=${{ steps.flutter-action.outputs.ARCHITECTURE }}
          echo PUB-CACHE-PATH=${{ steps.flutter-action.outputs.PUB-CACHE-PATH }}
          echo PUB-CACHE-KEY=${{ steps.flutter-action.outputs.PUB-CACHE-KEY }}
          echo CACHE-HIT=${{ steps.flutter-action.outputs.CACHE-HIT }}
          echo PUB-CACHE-HIT=${{ steps.flutter-action.outputs.PUB-CACHE-HIT }}
      - run: flutter --version
      - run: dart pub get
      - run: dart run build_runner build -d
      - run: dart analyze lib
      - run: dart format lib --set-exit-if-changed
      - run: flutter test --coverage
      