name: CI/CD

on: [push, pull_request]

jobs: 
  build: 
    name: Build
    runs-on: macos-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: 
          java-version: '21'
          distribution: 'temurin'
      - uses: subosito/flutter-action@v2
        with: 
          channel: 'stable'
          flutter-version-file: pubspec.yaml
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arach:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:arch:"
          pub-cache-key: "pub-cache-:os:-:channel:-:version:-:arch:-:hash:"
          pub-cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"
      - run: flutter --version
      - run: dart pub get --offline
      - run: dart run build_runner build -d
      - run: dart analyze lib
      - run: dart format lib --set-exit-if-changed
      - run: flutter test --coverage
      