name: CI/CD

on: [push, pull_request]

jobs: 
  build: 
    name: Build
    runs-on: macos-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: 
          java-version: '21'
          distribution: 'temurin'
      - uses: subosito/flutter-action@v2
        with: 
          channel: 'stable'
      - run: dart pub get
      - run: dart analyze lib
      - run: dart format lib --set-exit-if-changed
      - run: flutter test --coverage
      